<div class="scrollable">

    <app-main-header></app-main-header>
    <div class="policy">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-12"></div>
                <div class="col-md-6 col-12">
                    <div class="policy-data ">
                        <h1 ><b>Legal disclosure</b></h1>
                       <p>Information in accordance with section 5</p>
                       <p>Md Asif Raza. <br>Software Developer</p>
                       
    
    
                        <h1><b>Disclaimer</b></h1>
                        <p>Accountability for content<br />
                            The contents of our pages have been created with the utmost care. However,
                            we cannot guarantee the contents' accuracy, completeness or topicality.
                            According to statutory provisions, we are furthermore responsible for our own
                            content on these web pages. In this context, please note that we are accordingly not obliged to
                            monitor merely the transmitted or saved information of third parties, or investigate
                            circumstances
                            pointing to illegal activity. Our obligations to remove or block the use of information under
                            generally
                            applicable laws remain unaffected by this.</p>
    
    
                        <p>Accountability for links<br />
                            Responsibility for the content of external links (to web pages of third parties) lies solely
                            with the operators of the linked pages. No violations were evident to us at the time of linking.
                            Should any legal
                            infringement become known to us, we will remove the respective link immediately.</p>
    
                        <p>Copyright<br />
                            Every form of utilizing, reproducing or processing
                            works subject to copyright protection on our web pages requires the prior consent of the
                            respective owner of the rights. Individual reproductions of a work are allowed only for private
                            use, so must not serve either directly or indirectly for earnings.
                            Unauthorized utilization of copyrighted works is punishable.</p>
    
    
                        <h1><b>Privacy policy</b></h1>
                        <p>Our Policy for Protecting Your Online Privacy</p>
                        <p>We will never (and will not allow any third party to) use the statistical
                            analytics tool to track or to collect any Personally Identifiable Information (PII)
                            of visitors to our site. Google will not associate your IP address with any other
                            data held by Google. Neither we nor Google will link, or seek to link, an IP address
                            with the identity of a computer user. We will not associate any data gathered from this
                            site with any Personally Identifiable
                            Information from any source, unless you explicitly submit that information via a fill-in
                            form on our website. </p>
                        <p>User’s Personal Information: Visitors to our website may be able to register to use our
                            services, attend events, make a purchase, join a community or upload/download information.
                            When you register, you will provide personal information such as name, address, email,
                            telephone number or facsimile number and other relevant information. If you are making
                            a purchase, we will request financial information including your credit card number, expiration
                            date, and security code. Any financial information we collect is used only to bill you for your
                            purchase. This information may be forwarded to your credit card provider. We will not disclose
                            personally identifiable information we collect from you to third parties without your permission
                            except to the extent necessary, including: To fulfill your requests, to protect ourselves from
                            liability, to comply with the terms and conditions of our internet host provider. </p>
                        <p>3rd Party Policies Related services and offerings linked to or from this website have their own
                            privacy statements that can be viewed by clicking on the corresponding links within each
                            respective
                            website. Since we do not have control over the policies or practices of participating merchants
                            and
                            other third parties, we are not responsible for the privacy practices or contents of those
                            sites.
                            We recommend you review their policies before you provide any personal information or complete
                            any
                            transaction with them. </p>
                    </div>
                </div>
                <div class="col-md-3 col-12"></div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>