
        .not-found{
            padding-top: calc(100vh / 100 * 22);
            padding-top: calc(calc(var(--vh, 1vh) * 100) / 100 * 22);
            padding-bottom: calc(100vh / 100 * 22);
            padding-bottom: calc(calc(var(--vh, 1vh) * 100) / 100 * 22);
            height: 100vh;
            height: calc(var(--vh, 1vh) * 100);
            overflow-y: scroll ;
            color: white;
            background-color: rgb(26, 26, 26);
        }
        .not-found .jumbo{
            margin-bottom: 0;
            background-color: rgb(54, 54, 54);
            padding: 15px;
            box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
            border-radius:4px;
            -webkit-border-radius:4px;
            -moz-border-radius:4px;
            -ms-border-radius:4px;
            -o-border-radius:4px;
}
        .not-found .not-found-btn i{
            font-size: 18px;
        }
    
.my-custom-button{
    width: 180px;
}
