<section>
    <div class="not-found">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-xs-12">

                </div>
                <div class="col-md-8 col-xs-12">
                    <div class="jumbo">
                        <div class="text-center"><i class="fa fa-5x fa-frown-o" style="color:var(--theme-color-primary);"></i></div>
                        <h1 class="text-center">404 Not Found !<p> </p><p><small class="text-center"> Page doesn't exist.</small></p></h1>
                        <p class="text-center">Try pressing the back button or click home button.</p>
                        <p class="text-center"><a class="not-found-btn" routerLink="/"><button class="my-custom-button"><i class="fa fa-home"></i> Home</button></a></p>
                    </div>
                </div>
                <div class="col-md-2 col-xs-12">

                </div>
            </div>
          
        </div>
    </div>
</section>