
        .not-found{
            min-height: 100vh;
            padding-top: calc(100vh / 100 * 20);
            padding-bottom: 80px;
            color: white;
            background-color: rgb(26, 26, 26);
        }
        .not-found .jumbo{
            margin-bottom: 0;
            background-color: rgb(54, 54, 54);
            padding: 15px;
            box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
            border-radius:4px;
            -webkit-border-radius:4px;
            -moz-border-radius:4px;
            -ms-border-radius:4px;
            -o-border-radius:4px;
}
        .not-found .not-found-btn i{
            font-size: 18px;
        }
    
.my-custom-button{
    width: 180px;
}
@media only screen and (max-width: 575px){
    .not-found{
        padding-top: 50px;
        padding-bottom: 50px;  
    }   
}