<div class="footer">
    <div class="container ">
        <div class="row">
            
            <div class="col-12">
                <div class="mb-4">
                    <h5 class="text-center">Contact ME !</h5>
                    <p class="text-center">Email : <span>
                        asif20856@gmail.com</span></p>
                        <p class="text-center"><a target="_blank" href="https://www.mdasifraza.com">www.mdasifraza.com</a></p>
                </div>
            </div>
            <div class="col-12">
                <div class="mb-4"> 
                    <h5 class="text-center">Explore More !</h5>
                    <div class="text-center">
                        <a routerLink="/">Home</a>
                        <a routerLink="/about">About</a>
                        <a routerLink="/policy">Policy</a>
                        <a routerLink="/contact">Contact</a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="mb-4"> 
                    <h5 class="text-center">Image Credit !</h5>
                    <div class="text-center">
                        <a target="_blank" href="https://www.pngtree.com">pngtree.com</a>
                        </div>                    
                </div>
            </div>
        
        </div>
        <div class="row">
            <div class="col-12">
                <hr style="background-color: rgb(197, 197, 197); "/>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <div>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-white text-center">Designed and developed by Md Asif Raza, Mean Stack Developer,</p>
                <p class="text-white text-center">Copyright &copy; 2020, All Rights Reserved.</p>
            </div>
        </div>
    </div>
    
</div>
