<div class="footer">
    <div class="container ">
        <div class="row">
            
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="mb-4">
                    <h5>Contact ME !</h5>
                    <p>Email : <span>
                        asif20856@gmail.com</span></p>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-6 col-xs-12">
                <div class="mb-4"> 
                    <h5>Explore More !</h5>
                    <a routerLink="/">Home</a>
                    <a routerLink="/contact">Contact</a>
                    <a routerLink="/Policy">Legal Disclosure</a>
                    <a routerLink="/Policy">Disclaimer </a>
                    <a routerLink="/Policy">Privacy Policy</a>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-xs-12">
                <div class="mb-4">
                    <h5>Chat Notes !</h5>
                </div>
            </div>
        </div>
    </div>
    <hr style="background-color: rgb(126, 122, 122); margin: 0px 30px;"/>
    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <div>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-white text-center">Designed and developed by MD Asif Raza, Full Stack Developer,</p>
                <p class="text-white text-center">Copyright &copy; 2020, All Rights Reserved.</p>
            </div>
        </div>
    </div>
    
</div>
