/* .header{
    height: 50px;
    background-color: rgb(51, 51, 51);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left:15px ;
    padding-right: 15px;
}
.cusbtn{
    height: 40px;
    width: 40px;
    outline: none;
    padding: 2px;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    
}
.cusbtn  .horizontal-line{
    height: 15%;
    width: 70%;
    background-color: white;
    position: relative;
   
}
.cusbtn .horizontal-line .line{
    position: absolute;
    top: 0;
    left:0;
    
    bottom:0;
    width: 130%;
    transform: translateY(-200%);
    background-color: white;
}
.cusbtn .horizontal-line .line2{
    position: absolute;
    top: 0;
    left:0;
    
    bottom:0;
    width: 130%;
    transform: translateY(200%);
    background-color:white;
}
.cusbtn:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.cusbtn:active{
    transform: scale(.95);
}



@media only screen and (min-width:992px){
    .header{
       display: none;
    }
} */


.logo{
    padding :0px 15px ;
    height: 55px;
    background-color: var(--themeheader);
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(241, 239, 239);
    
}
.logo button{
    border-radius: 3px;
    border:none;
    background-color:var(--themelogo) ;
    margin-right: 3px;
    font-weight: bold;
    outline: none;
    
}
.logo p{
    margin: 0;
    padding:0;
    color: black;
    font-weight: bold;
    cursor: pointer;
}