.notes-detail{
    /* background-color: rgb(252, 252, 252); */
    min-height: 100vh;
    background-color: var(--themebg);
    
}
p{
    margin: 0;
    padding: 0;
}
.heading{
    height: 55px;
    background-color:  var(--themeheader);
    padding: 0px 15px;
    display: flex;
    align-items: center;
    position: sticky;
    top:0;
    margin-bottom: 15px;
}
.data{
    margin: 5px 15px;
    background-color:white ;
    padding: 20px 15px;
    border-radius: 5px;
}

.circle{
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    /* background-color: red; */
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #212529;
}
button{
    width: 25px;
    height: 25px;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    outline: none;
}
button:active{
    transform: scale(.95);
}




/* more notes */
.more-notes{
    position: sticky;
    top:calc(100vh - 60px);
    bottom:0;
    height: 60px;
    background-color: var(--themebg);
    padding: 10px 15px;
    /* padding-bottom: 10px; */
}
.more-notes .flx{
    display: flex;
}
.more-notes input{
    flex:6;
    height:40px;
    margin: 0;
    border-radius:20px;
    border: 1px solid var(--themeheader);
    padding: 5px 20px;
}
.more-notes button{
    background-color: var(--themeheader);
    flex:1;
    height: 40px;
    border-radius:20px;
    margin-left: 5px;
}