.notes-detail{
    /* background-color: rgb(252, 252, 252); */
    min-height: 100vh;
    background-color: var(--themebg);
    
}
p{
    margin: 0;
    padding: 0;
}
.heading{
    height: 55px;
    background-color:  var(--themeheader);
    padding: 0px 15px;
    display: flex;
    align-items: center;
    position: sticky;
    top:0;
    /* margin-bottom: 15px; */
    z-index:20;
   
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
}
.header2{
    height: 15px;
    background-color:  var(--themebg);
    z-index:5;
    position: sticky;
    top:55px;
}
.data{
    margin: 15px 15px;
    background-color:var(--themenotespointsbg) ;
    padding: 20px 15px;
    border-radius: 5px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}
.data button{
    background-color: transparent;
    padding: 0;
    border: none;
    margin: 0;
    outline: none;
    border-radius: 3px;
    height: 30px;
    width: 30px;
    transform:scale(.7);
}
.data button:hover{
    background-color: rgb(187, 186, 186);
}
.data button:active{
    transform:scale(.65);
}

.circle{
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    background-color: var(--themedeletebutton );
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #212529;
}
.heading button{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
    background-color: var(--themedeletebutton );
    outline: none;
    /* margin-left: auto;
    margin-right: 0; */
    border-radius: 5px;
    transform: scale(.6) translateX(30%);
    /* transition: .3s ease; */
}
.heading button:hover{
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
}

.heading button:active{
    transform: scale(.55) translateX(30%);
}


.topic{
    margin: 15px 15px;
    margin-top: 0px ;
    padding:20px  15px;
    border-radius: 5px;
    background-color: var(--themenotestopicbg);
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
}
.topic h6{
    font-weight:bold;
}

/* more notes */
.more-notes{
    position: sticky;
    top:calc(100vh - 60px);
    bottom:0;
    height: 60px;
    background-color: var(--themebg);
    padding: 10px 15px;
    /* padding-bottom: 10px; */
}
.more-notes .flx{
    display: flex;
}
.more-notes input{
    flex:6;
    height:40px;
    margin: 0;
    border-radius:20px;
    border: 1px solid var(--themeheader);
    padding: 5px 20px;
}
.more-notes input:focus{
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
}
.more-notes button{
    background-color: var(--themeheader);
    flex:1;
    height: 40px;
    border-radius:20px;
    margin-left: 5px;
    outline: none;
    border: none;
}
.more-notes button:hover{
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
}
.more-notes button:active{
    transform: scale(.95);
}
/* .delsvg{
    fill: var(--themedeletebutton ) !important;
    background-color: red;
     color: red;
} */