.notes-detail{
    background-color: rgb(252, 252, 252);
    min-height: 100vh;
    background-color: yellow;
    /* padding:40px 15px; */
}
p{
    margin: 0;
    padding: 0;
}
.heading{
    height: 55px;
    background-color:  rgb(236, 72, 72);
    padding: 0px 15px;
    display: flex;
    align-items: center;
    position: sticky;
    top:0;
}
.data{
    margin: 15px;
    background-color:rgb(243, 243, 16) ;
    padding: 20px 15px;
    border-radius: 5px;
}

.circle{
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    /* background-color: red; */
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #212529;
}
button{
    width: 30px;
    height: 30px;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    outline: none;
}
button:active{
    transform: scale(.95);
}