<div class="notes-detail" *ngIf="listItem">
    <div class="heading">
        <div style="flex-basis: 6%;">
            <div class="circle">
                <img src="" alt="">
            </div>
        </div>
        <div style="flex-basis: 90%;">
            <p>{{listItem.topic}}</p>
            <p>{{listItem.date}}</p>
        </div>
        <div style="flex-basis: 6%;">
            <button>delete</button>
        </div>
    </div>
    <div class="data">

        <p>{{listItem.subject}}</p>
    </div>

</div>