<div class="">
    <div class="row p-0 m-0">
        <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 p-0 left-area">
            <div>
                <div class="list">
                    <!-- <app-header [username]="username" *ngIf="username"></app-header> -->
                    <!-- <app-user-nav  [user]="user" *ngIf="user"></app-user-nav> -->

                    <div >
                        <div class="circle" style="margin: 0 auto;">
                            <img  *ngIf="userData" width="100%" src="assets/avatar/{{userData.avatar}}.jpg" alt="Maxwell Admin">                              
                        </div>
                        <br>
                        <h4 *ngIf="userData" class="user-name text-center"><b>@{{userData.username}}</b></h4>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12 col-xs-12 p-0 right-area">
            <div class="router-wrapper">
                <div class="p-3" *ngIf="userData">
                    <div class="row gutters">
                        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="account-settings">
                                        <div class="about">
                                            <h5>About</h5>
                                            <p *ngIf="userData && userData.about != ''">{{userData.about}}</p>
                                            <p *ngIf="userData && userData.about == ''">---</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="row gutters">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <h6 class="mb-2 text-primary">Personal Details</h6>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group">
                                                <label for="fullName">Name</label>
                                                <p *ngIf="userData && userData.name != ''">{{userData.name}}</p>
                                                <p *ngIf="userData && userData.name == ''">@{{userData.username}}</p>
                                                <hr>
                                            </div>
                                        </div>

                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group">
                                                <label for="fullName">Email</label>
                                                <p *ngIf="userData">{{userData.email}}</p>
                                                <hr>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group">
                                                <label for="fullName">Phone</label>
                                                <p *ngIf="userData && userData.phone != ''">{{userData.phone}}</p>
                                                <p *ngIf="userData && userData.phone == ''">---</p>
                                                <hr>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group">
                                                <label for="fullName">Address</label>
                                                <p *ngIf="userData && userData.address != ''">{{userData.address}}</p>
                                                <p *ngIf="userData && userData.address == ''">---</p>
                                                <hr>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group">
                                                <label for="fullName">College</label>
                                                <p *ngIf="userData && userData.college != ''">{{userData.college}}</p>
                                                <p *ngIf="userData && userData.college == ''">---</p>
                                                <hr>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group">
                                                <label for="fullName">Education</label>
                                                <p *ngIf="userData && userData.education != ''">{{userData.education}}
                                                </p>
                                                <p *ngIf="userData && userData.education == ''">---</p>
                                                <hr>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-3">
                    <h4>Public Chats</h4>
                </div>
                <app-public-chat [publicChat]="publicChat" [username]="username" ></app-public-chat>
                
            </div>
        </div>
    </div>
</div>