<div class="pro-scroll">
    <div class="row p-0 m-0">
        <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 p-0 left-area dnone">
            <div>
                <div class="list">
                    <app-header [username]="ownerusername" ></app-header>
                    <app-user-nav  [user]="owneruser" *ngIf="owneruser"></app-user-nav>
                    <div class="searchbox">
                        <form [formGroup]="searchForm" (ngSubmit)="searchUser()">
                        <input type="text"  name="search" autocomplete="off" formControlName="search"  placeholder="search usernames">
                    </form>
                    </div>
                    <div class="p-3 profile-icon-main" >
                        <div style="width:100%;">

                            <div *ngIf="userData" class="circle" style="margin: 0 auto;">
                                <img   width="100%" src="assets/avatar/{{userData.avatar}}.jpg" alt="Maxwell Admin">                              
                            </div>
                            <br>
                            <h4 *ngIf="userData"  style=" overflow: hidden;
                            word-wrap: break-word; " class="user-name text-center"><b>@{{userData.username}}</b></h4>
                        </div>
                        </div>

                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12 col-xs-12 p-0 right-area">
            <app-header [username]="ownerusername" class="d-lg-none" ></app-header>
            <app-user-nav  [user]="owneruser" class="d-lg-none" *ngIf="owneruser"></app-user-nav>
            <div class="list d-lg-none">
                <div class="searchbox">
                    <form [formGroup]="searchForm" (ngSubmit)="searchUser()">
                    <input type="text"  name="search" autocomplete="off" formControlName="search"  placeholder="search usernames">
                </form>
                </div>
                <div class=" p-3 profile-icon-main" >
                    <div style="width:100%">

                        <div *ngIf="userData" class="circle" style="margin: 0 auto;">
                            <img   width="100%" src="assets/avatar/{{userData.avatar}}.jpg" alt="Maxwell Admin">                              
                        </div>
                        <br>
                        <h4 *ngIf="userData" style=" overflow: hidden;
                        word-wrap: break-word; " class="user-name text-center"><b>@{{userData.username}}</b></h4>
                    </div>
                    </div>

            </div>
            <div class="router-wrapper">
                <div class="p-3" *ngIf="userData">
                    <div class="row gutters">
                        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 pb-3">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="account-settings">
                                        <div class="about">
                                            <h5 class="text-primary"><b>About</b></h5>
                                            <br>
                                            <p *ngIf="userData && userData.about != ''">{{userData.about}}</p>
                                            <p *ngIf="userData && userData.about == ''">---</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12 pb-3">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="row gutters">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <h5 class="text-primary"><b>Personal Details</b></h5>
                                            <br>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group">
                                                <label for="fullName">Name</label>
                                                <p *ngIf="userData && userData.name != ''">{{userData.name}}</p>
                                                <p *ngIf="userData && userData.name == ''">@{{userData.username}}</p>
                                                <hr>
                                            </div>
                                        </div>

                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group">
                                                <label for="fullName">Username</label>
                                                <p *ngIf="userData">@{{userData.username}}</p>
                                                <hr>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group">
                                                <label for="fullName">Phone</label>
                                                <p *ngIf="userData && userData.phone != ''">{{userData.phone}}</p>
                                                <p *ngIf="userData && userData.phone == ''">---</p>
                                                <hr>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group">
                                                <label for="fullName">Address</label>
                                                <p *ngIf="userData && userData.address != ''">{{userData.address}}</p>
                                                <p *ngIf="userData && userData.address == ''">---</p>
                                                <hr>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group">
                                                <label for="fullName">College</label>
                                                <p *ngIf="userData && userData.college != ''">{{userData.college}}</p>
                                                <p *ngIf="userData && userData.college == ''">---</p>
                                                <hr>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group">
                                                <label for="fullName">Education</label>
                                                <p *ngIf="userData && userData.education != ''">{{userData.education}}
                                                </p>
                                                <p *ngIf="userData && userData.education == ''">---</p>
                                                <hr>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-3" *ngIf="publicChat">
                    <!-- <div class="p-3 bg-white"> -->
                        <h5 class="text-black"><b>PUBLIC CHATS</b></h5>
                    <!-- </div> -->
                    
                </div>
                <app-public-chat [publicChat]="publicChat" [username]="username" ></app-public-chat>
                <div class="p-3" *ngIf="error">
                    <div class="p-3 bg-danger">
                        <h5 class="text-white"><b>{{error.error.mssg}}</b></h5>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>