.right-area{
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow-y: scroll;
}
.left-area{
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow-y: scroll;
}

@media only screen and (max-width:767px){
    .right-area{
        height: auto;
        overflow-y: unset;
    }
    .left-area{
        height: auto;
        overflow-y: unset;
    }
}
.router-wrapper{

        padding: 15px;
        padding-top: 0;
         padding-bottom:0;
         min-height: 100vh;
         min-height: calc(var(--vh, 1vh) * 100);
         background: var(--themebg);    
     
}


.list{
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    border-right: 1px solid rgb(228, 225, 225);
    background-color: var(--themenoteslistbg );
   
}
.profile-icon-main{
    height: calc(calc(var(--vh, 1vh) * 100) - 170px);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* search box */
.searchbox{
    height: 55px;
    padding: 10px 15px;
    background-color: #fbfbfb;
    position: relative;
    z-index: 2 !important;
   
}
.searchbox input{
    width: 100%;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid rgb(187, 187, 187);
    outline: none;
}
.searchbox input:focus{
    border: 1px solid var(--themeaddbutton);
}
/* search box  */

.item{
    padding:5px 15px;
    background-color:white;
    border-radius: 3px;
    margin-bottom: 2px;
    cursor: pointer;
}
.item h3{
    font-size: 16px;
    font-weight: bold;
}
.item:hover{
    background-color: var(--activelink);
}

.addnotemain button{
    padding: 0;
    border: none;
    outline: none;
    
}
.itm-flx
{
    display: flex;
    align-items: center;
}
.circle{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    /* background-color: var(--themeheader); */
    background-color: var(--themedeletebutton );
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e4e4e4;
}
.no-list{
    padding: 15px;
    height: calc(100vh - 165px);
    background-color: var(--themenonotesbg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.no-list h3{
    background-color: var(--themeheader);
    padding: 5px 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}
@media only screen and (min-width:768px){
    .d-lg-none{
        display: none !important;
    }
}
@media only screen and (max-width:767px){
    .dnone{
        display: none !important;
    }
    .router-wrapper{
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        background: none;
       background-color:  var(--themenoteslistbg );
    }
    .pro-scroll{
        height: 100vh; 
        height: calc(var(--vh, 1vh) * 100);
              overflow-y: scroll;
    }
    /* .list{
        z-index: 3;
        position: sticky;
        top: 55px;
        min-height: 200px;
        background: #7F7FD5;  
        background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); 
        background: linear-gradient(to right, #e0e0e0, #f0f2f5, #ceced1); 
         
    }
    .profile-icon-main{
        height: 0;
        min-height: calc(200px);
    } */
    
}
.active-link{
    background-color: var(--activelink);
}


.head{
    position: sticky;
    top: 55px;
    padding :0px 15px ;
    height: 55px;
    background-color: rgb(226, 226, 226);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3 !important;
    border-bottom: 1px solid rgb(218, 218, 218);
    -webkit-box-shadow: 0px 2px 6px 0px rgba(129, 129, 129, 0.3);
    -moz-box-shadow: 0px 2px 6px 0px rgba(129, 129, 129, 0.3);
    box-shadow: 0px 2px 6px 0px rgba(129, 129, 129, 0.3);
}


.pro-circle{
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    /* background-color: var(--themeheader); */
    background-color: var(--themedeletebutton );
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #212529;
}
.username{
    background-color: white;
    padding: 4px 6px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}