<div class="pro-scroll">
    <div class="row p-0 m-0">
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-xs-12 p-0 left-area dnone">
            <div>
                <div class="list ">
                    <app-header [username]="ownerusername"></app-header>
                    <app-user-nav [user]="owneruser" *ngIf="owneruser"></app-user-nav>
                    <div class="searchbox">
                        <form [formGroup]="searchForm" (ngSubmit)="searchUser()">
                            <input type="text" name="search" autocomplete="off" formControlName="search"
                                placeholder="search username">
                        </form>
                    </div>
                    <div class="p-3 profile-icon-main">
                        <div style="width:100%;">

                            <div *ngIf="userData" class="circle" style="margin: 0 auto;">
                                <img width="100%" src="assets/avatar/{{userData.avatar}}.jpg" alt="Maxwell Admin">
                            </div>
                            <br>
                            <h4 *ngIf="userData" style=" overflow: hidden;
                            word-wrap: break-word; " class="user-name text-center"><b>@{{userData.username}}</b></h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12 col-xs-12 p-0 right-area">

            <div class="router-wrapper">
                <app-header [username]="ownerusername" class="d-lg-none"></app-header>
                <app-user-nav [user]="owneruser" class="d-lg-none" *ngIf="owneruser"></app-user-nav>
                <div class="d-lg-none">
                    <div class="searchbox">
                        <form [formGroup]="searchForm" (ngSubmit)="searchUser()">
                            <input type="text" name="search" autocomplete="off" formControlName="search"
                                placeholder="search username">
                        </form>
                    </div>
                </div>

                <!-- user profile pic -->
                <div class="head d-lg-none" *ngIf="userData">
                    <div class="d-flex justify-content-between align-items-center"
                        style="width:100%; overflow-x:hidden;">
                        <div class="username" style=" overflow-x:hidden; ">
                            <h6 style=" overflow: hidden;
                            text-overflow: ellipsis;
                                -webkit-line-clamp: 1;
                                display: -webkit-box;
                              -webkit-box-orient: vertical;
                              word-wrap: break-word; cursor:pointer; " class="m-0">@{{userData.username}}</h6>

                        </div>
                        <div style=" overflow-x:hidden; " class="pro-circle">
                            <img src="assets/avatar/{{userData.avatar}}.jpg" width="100%" alt="">
                        </div>
                    </div>
                </div>
                <!-- user profile pic -->
                <div class="p-3" *ngIf="userData">
                    <div class="row gutters align-items-stretch">
                        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12   p-md-3 p-0 pb-3">
                            <div class="p-md-0 pb-md-3 p-3 pb-0">
                                <h6><b>ABOUT</b></h6>
                            </div>
                            <!-- <br> -->
                            <div class="card">
                                <div class="card-body" >
                                    <div class="">
                                        <div class="about">


                                            <p class="m-0 p-0" *ngIf="userData && userData.about != ''">
                                                {{userData.about}}</p>
                                            <p class="m-0 p-0" *ngIf="userData && userData.about == ''">---</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12 p-md-3 p-0 pb-3">
                            <div class="p-md-0 pb-md-3 p-3 pb-0">
                                <h6><b>PERSONAL DETAILS</b></h6>
                            </div>

                            <div class="card">
                                <div class="card-body">
                                    <div class="row gutters">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group">
                                                <label for="fullName"><b>NAME</b></label>
                                                <p *ngIf="userData && userData.name != ''">{{userData.name}}</p>
                                                <p *ngIf="userData && userData.name == ''">@{{userData.username}}</p>

                                            </div>
                                        </div>

                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group">
                                                <label for="fullName"><b>USERNAME</b></label>
                                                <p *ngIf="userData">@{{userData.username}}</p>

                                            </div>
                                        </div>
                                        <div *ngIf="userData.phone" class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group">
                                                <label for="fullName"><b>PHONE</b></label>
                                                <p>{{userData.phone}}</p>

                                            </div>
                                        </div>
                                        <div *ngIf="userData.address"
                                            class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group">
                                                <label for="fullName"><b>LOCATION</b></label>
                                                <p>{{userData.address}}</p>

                                            </div>
                                        </div>
                                        <div *ngIf="userData.college"
                                            class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group">
                                                <label for="fullName"><b>COLLEGE</b></label>
                                                <p>{{userData.college}}</p>

                                            </div>
                                        </div>
                                        <div *ngIf="userData.education"
                                            class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group">
                                                <label for="fullName"><b>EDUCATION</b></label>
                                                <p>{{userData.education}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-3 pt-0" *ngIf="userData">
                    <h6><b>PUBLIC CHATS</b></h6>

                </div>
                <app-public-chat *ngIf="userData" [publicChat]="publicChat" [username]="username"></app-public-chat>

                <div *ngIf="!userData">
                    <div class="pt-2"></div>
                    <section>
                        <div class="p-md-3 p-0">
                            <div class="p-3 no-public-chats bg-white">
                                <p class="m-0 p-0">
                                    User not exist !
                                </p>
                            </div>

                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>