.right-area{
    height: 100vh;
    overflow-y: scroll;
}
.left-area{
    height: 100vh;
    overflow-y: scroll;
}

@media only screen and (max-width:991px){
    .right-area{
        height: auto;
        /* min-height: calc(100vh - 50px ); */
        overflow-y: unset;
    }
    /* .left-area{
        height: 0px;
        overflow-y: auto;
    } */
    .left-area{
        height: auto;
        /* min-height : calc(100vh - 50px); */
        overflow-y: unset;
    }
}
.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}
.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
}

.account-settings .about h5 {
    margin: 0 0 15px 0;
    color: #007ae1;
}
.account-settings .about p {
    font-size: 0.825rem;
}
.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
}

.card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}


h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
p{
    color: gray;
}

.list{
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
    min-height: 100vh;
    border-right: 1px solid rgb(228, 225, 225);
    background-color: var(--themenoteslistbg );
    display: flex;
    align-items: center;
    justify-content: center;
}



.item{
    padding:5px 15px;
    background-color:white;
    border-radius: 3px;
    margin-bottom: 2px;
    cursor: pointer;
}
.item h3{
    font-size: 16px;
    font-weight: bold;
}
.item:hover{
    background-color: var(--activelink);
}

.addnotemain button{
    padding: 0;
    border: none;
    outline: none;
    
}
.itm-flx
{
    display: flex;
    align-items: center;
}
.circle{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    /* background-color: var(--themeheader); */
    background-color: var(--themedeletebutton );
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #212529;
}
.no-list{
    padding: 15px;
    height: calc(100vh - 165px);
    background-color: var(--themenonotesbg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.no-list h3{
    background-color: var(--themeheader);
    padding: 5px 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}

@media only screen and (max-width:991px){
    .dnone{
        display: none;
    }
}
.active-link{
    background-color: var(--activelink);
}