<div class="addnotes">
    <!-- <div style="position: sticky; top:0" class="dnone header-back"></div> -->
    <div class="logo dnone">
        <button >C</button>
        <p style="outline:none" routerLink="/">HAT NOTES</p>
    </div>
    
    <div style="padding:40px 15px;" class="btns"> 

        <h1 >Fill your notes</h1>
    <form [formGroup]="chatForm" (ngSubmit)="createChat()">
        <div class="form">
            <div class="label">
                <label for="topic">Topic</label>
            </div>
            <input type="text" id="topic" autocomplete="off" formControlName="title" placeholder="type chat name ...">
            <small class="text-white bg-danger px-2 py-1"
                    *ngIf="!chatForm.get('title').valid && chatForm.get('title').touched">
                        Topic can't be empty
                    </small>
        </div>
        <div class="form">
            <div class="label">
                <label for="desc">Description</label>
            </div>
            <textarea id="desc" autocomplete="off" cols="30" rows="6" formControlName="description" placeholder="type description here ..."></textarea>
            <small class="text-white bg-danger px-2 py-1"
                    *ngIf="!chatForm.get('description').valid && chatForm.get('description').touched">
                    Description can't be empty
                </small>
        </div>
        <div class="form">
            
            <button type="submit">Create</button>
        </div>
    </form>
    </div>
</div>