<div class="addnotes">
    <!-- <div style="position: sticky; top:0" class="dnone header-back"></div> -->
    <!-- <div class="logo dnone">
        <button>C</button>
        <p style="outline:none" routerLink="/">HAT NOTES</p>
    </div> -->

    <div class="chat-box btns ">

        <h6><b>CREATE CHAT</b></h6>
        <form [formGroup]="chatForm" (ngSubmit)="createChat()">
            <div class="form">
           
                <input type="text" id="topic" autocomplete="off" formControlName="title"
                    placeholder="chat name">
                <small class=""
                    *ngIf="!chatForm.get('title').valid && chatForm.get('title').touched">
                    chat name can't be empty
                </small>
            </div>
            <div class="form">
                
                <input id="desc" autocomplete="off"  formControlName="description"
                    placeholder="chat description">
                <small class=""
                    *ngIf="!chatForm.get('description').valid && chatForm.get('description').touched">
                    chat description can't be empty
                </small>
            </div>
            <br>
            <div class="d-flex">
                <div class="mr-3">
                    <div class="radio-buttons public">
                        <input type="radio" name="protected" id="public" value="false" formControlName="protected">
                        <label for="public">Public</label>
                    </div>
    
                </div>
                
                <div class="">
                    <div class="radio-buttons private">
                        <input type="radio" name="protected" id="private" value="true" formControlName="protected">
                        <label for="private">Private</label>
                    </div>
    
                </div>
            </div>
            
            <div class="form">

                <button type="submit">Create</button>
            </div>
        </form>
    </div>
</div>