.policy{
    background: var(--themehome);
}
.policy-data{
    color: white;
    margin-top:150px;
    margin-bottom:150px;
    max-width: 400px;
    
}
h1{
    font-weight: bold;
}
p{
    color:rgb(229, 226, 226);
}
@media only screen and (max-width:767px){
    .policy-data{
       
        margin-top:50px;
        margin-bottom:50px;   
    }
}