<div class="scrollable">

    <app-main-header></app-main-header>
    <div class="policy">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-12"></div>
                <div class="col-md-6 col-12">
                    <div class="policy-data">
                        <div>

                            <h1 class="pb-4"><b> Where the world store notes private or public,

                                </b> </h1>
                            <p >Millions of users build, push, and maintain their notes on Social
                                Chat Notes — the largest
                                and most advanced Notes Sharing platform in the world.
                                Connect to see your friends notes.</p>
                            <h1 class="pb-2"><b> Tech stack,</b> </h1>
                            <p>MongoDB | Express | Angular | NodeJS</p>
                            <h1 class="pb-2"><b>User password encryption,</b> </h1>
                            <p>Bcrypt | Hash | Salt</p>
                            <h1 class="pb-2"><b>Validation,</b> </h1>
                            <p>Express validator | Angular validator</p>
                            <h1 class="pb-2"><b>Database connectivity,</b> </h1>
                            <p>Mongoose</p>
                            <h1 class="pb-2"><b>Programming languages,</b> </h1>
                            <p>Typescript | Javascript</p>
                            <h1 class="pb-2"><b>Styling component,</b> </h1>
                            <p>Bootstrap</p>
                            <h1 class="pb-2 "><b>Animations,</b> </h1>
                            <p >Animate.css | Angular animation</p>
                            <h1 class="pb-2"><b>Developer,</b> </h1>
                            <p >Md Asif Raza | Software Developer <br>itsmdasifraza@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-12"></div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>