<app-main-header></app-main-header>
<div class="policy">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="policy-data">
                    <h1>DEVELOPER</h1>
                    <p>Md Asif Raza,<br>Mean Stack Developer. <br>From India.</p>

                    <h1>PROFESSION</h1>
                    <p>Professionally connected with the web development industry and software development from many
                        years.</p>
                    <p>Well organised person, problem solver, independent employee with high attention to detail.</p>
                    <p>Meaning I can tackle projects that involve databases, building user-facing websites, or even work
                        with clients during the planning phase of projects.</p>
                    <p>Developer : <a target="_blank" href="https://www.mdasifraza.com">www.mdasifraza.com</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>