.home-main{
    position: relative;
    background-image:var(--themehome);
    z-index: 0;
    margin-top: -55px;
}
.app-quote{
    padding: 100px 0;
}
.app-quote p {
    color: white;
}
.featured-image{
    opacity: .1;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
.custom-shape-divider-bottom-1616424027 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 2;
}

.custom-shape-divider-bottom-1616424027 svg {
    position: relative;
    display: block;
    width: calc(144% + 1.3px);
    height: 107px;
}

.custom-shape-divider-bottom-1616424027 .shape-fill {
    fill: #FFFFFF;
}
.spacing{
    padding:60px 0 110px 0;
}
.home-main h1{
    font-size: 50px;
    font-weight: 1000;
    color: #ffffff;
}
.home-main p{
    font-size: 18px;
}
.home-main button{
    background-color: var(--themeheader);
    padding: 8px 20px;
    outline:none;
    display: block;
    text-decoration: none;
    margin: auto;
    text-decoration: none;
    border: 2px solid rgb(46, 46, 46);
    cursor: pointer;
    font-weight: bold;
    color: rgb(17, 17, 17);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.home-main button:hover{
    opacity: .9;
}
.home-main button:active{
   transform: scale(.95);
  
}
.image{
    width: 100%;
}
a{
    text-decoration: none;
    outline: none;
}
@media only screen and (max-width:991px){   
    .home-main h1{
        font-size: 35px;
    }
}
@media only screen and (max-width:767px){
  
    .app-quote{
        padding: 50px 0;
        padding-bottom: 10px;
    }
}
.login-form{
    background-color: white;
    padding: 15px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.login-form input{
    width:100%;
    margin-top: 20px;
    outline: none;
    padding:5px 0px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(48, 48, 48);
    color: rgb(48, 48, 48);
}
.login-form button{
    width: 100%;
    margin-top: 20px;
    outline: none;
    padding: 5px 10px;
    background-color: #1fce6d;
    color:white;
    border: none;
    font-weight: 600;
    letter-spacing: 1px;
    /* border: 1px solid rgb(98, 44, 245); */
     /* box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35); */
     border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.login-form button:hover{
    opacity: .9;
}
.login-form button:active{
    transform: scale(.97);
}
.login-form input:focus{
    /* box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35); */
    border-bottom: 1px solid #1fce6d;
}
.login-form small{
    color: rgb(236, 99, 99);
}



