<app-main-header></app-main-header>
<div class="contact">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="contact-data">
                    <h1>Contact Me !</h1>
                    <p>If you have any questions, suggestions or other requests feel free 
                        to contact us! We are always happy to hear from you!</p>
                        <p>Email: asif20856@gmail.com
                            <br>
                            Whatsapp: +91 7838114278
                        </p>
                        
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
