<div class="footer">
    <div class="container ">
        <div class="row">
            
           
            <div class="col-12">
                <div class="mb-0"> 
                    <!-- <h5 class="text-center">Explore More !</h5> -->
                    <div >
                        <a routerLink="/">Home</a>
                        <a routerLink="/chat">Chat</a>
                        <a routerLink="/about">About</a>
                        <a routerLink="/policy">Policy</a>
                        <a routerLink="/contact">Contact</a>
                        <a routerLink="/login">Login</a>
                        <a routerLink="/register">Register</a>
                    </div>
                </div>
            </div>
            
        
        </div>
        
    </div>
   
    
</div>
