.footer{
    color:white;
    padding: 17px 0;
    background-color: var(--themefooter);
    position: relative;
    opacity: .9;
    height: 55px;
}
.footer a,span{
    color: rgb(235, 235, 235);
    margin-right: 10px;
    outline: none;
    font-size: 14px;
}
.footer a:hover{
color: rgb(221, 220, 220);
}
@media only screen and (max-width : 786px){
    .footer a,span{
        margin-right: 5px;
        font-size: 12px;
    }
}