
.head{
    display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: var(--themebg);
}
.get-started{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-weight: bold;
}
button{
    font-weight: 20px;
    /* font-weight: bold; */
    border: 2px solid var(--themeaddbutton);
    outline: none;
    padding:5px 30px;
    background-color: transparent;
    margin: 2px;
}
button:hover{
    background-color: #4f94fc;
    color: white;
}
button:active{
    transform: scale(.95);
}
@media only screen and (max-width:991px){
   
    .head{
        display: none;
    }
}