
.head{
    display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: var(--themebg);
}
.get-started{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-weight: bold;
}
button{
    font-weight: 20px;
    /*font-weight: bold;
    */border: 2px solid rgb(43, 43, 43);
    outline: none;
    padding:5px 30px;
    background-color: var(--themeheader);
    margin: 2px;
    font-weight: 600;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

button:active{
    transform: scale(.95);
}
@media only screen and (max-width:991px){
   
    .head{
        display: none;
    }
}