.addnotes{
    padding: 15px;
    padding-top: calc(100vh / 100 * 25);
    padding-top: calc(calc(var(--vh, 1vh) * 100) / 100 * 25);
    padding-bottom: calc(100vh / 100 * 25);
    padding-bottom: calc(calc(var(--vh, 1vh) * 100) / 100 * 25);
     min-height: 100vh;
     min-height: calc(var(--vh, 1vh) * 100);
     background: var(--themebg);    
 }
 .chat-box{
    max-width: 500px;
    padding:15px;
    background-color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: auto;
 }
 
 h1{
     font-weight: bold;
     margin-bottom: 30px;
     /* color: rgb(17, 17, 17); */
 }
 label{
     font-weight: bold;
     font-size: 20px;
     margin:0;
 }
 .label{
    margin-bottom: 20px;
 }
 .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
 
 input{
    width:100%;
    margin-top: 20px;
    outline: none;
    padding:5px 0px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(214, 214, 214);
    color: rgb(37, 37, 37);
 }
 input:focus{
    /* box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35); */
    border-bottom: 1px solid var(--themeheader);
 }
 .btns button{
    margin-top: 30px;
    width: 100%;
    font-weight: 600;
    /* border: 2px solid rgb(41, 41, 41); */
    border: none;
    outline: none;
    padding:5px 0px;
    background-color: var(--themeheader);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    color: white;
    text-transform: uppercase;
 }
 .btns button:hover{
    opacity: .9;
 }
 
 .btns button:active{
    transform: scale(.95);
   
 }
 
 .logo{
    position: sticky !important;
    top:0;
    padding :0px 15px ;
    height: 55px;
    background-color: var(--themeheader);
    display: flex;
    align-items: center;
    /* border-bottom: 1px solid rgb(241, 239, 239); */
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
    z-index:5;
    position: relative;
    color: white;
    
 }
 .logo button{
    border-radius: 3px;
    border:none;
    background-color:var(--themelogo) ;
    margin-right: 3px;
    font-weight: bold;
    outline: none;
    color: white;
    
 }
 .logo p{
    margin: 0;
    padding:0;
    font-weight: bold;
    cursor: pointer;
    color: white;
 }
 
 
 .radio-buttons input[type="radio"]{
    position: fixed;
    width: 0;
    height: 0;
    top: -10px;
 }
 
 .radio-buttons label{
    display: block;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(221, 221, 221);
    padding: 5px 10px;
    cursor: pointer;
    font-size: 13px;
    font-weight: bolder;
    overflow: hidden;
 }
 .radio-buttons label:hover {
    opacity: .8;
 }
 .radio-buttons.public input[type="radio"]:checked + label {
      background-color: rgb(106, 231, 106);
 }
 .radio-buttons.private input[type="radio"]:checked + label {
    background-color: rgb(235, 116, 100);
 }
 /* radio buttons label */
 /* @media only screen and (min-width:992px){
    .dnone{
        display: none;
    }
 } */
 small{
    margin-bottom: 0;
    color: white;
    color: rgb(236, 99, 99);
    /* padding: 0px 10px; */
 }
 
 @media only screen and (max-width:767px){
    .addnotes{
        min-height: 0;
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        overflow-y: scroll;   
    }
 }
 