<section *ngIf="publicChat && publicChat.length > 0">
    <div class="public-chat">
        <div class="container-fluid">
            <div class="row">
                <div *ngFor="let item of publicChat.slice().reverse()" class="col-xl-4 col-md-6 col-12 pb-md-3 pl-md-3 pr-md-3 p-0">
                    <div class="item" routerLink="/chat/{{username}}/{{item._id}}/note/view/all">
                        <div  class="itm-flx">
                            <div>
                                <div class="circle">
                                    <svg width="60%" height="60%" viewBox="0 0 16 16" class="bi bi-journal-text" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
                                        <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                                        <path fill-rule="evenodd" d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                                      </svg>
                                </div>
                            </div>
                            <div style="overflow-x : hidden">
                                <h6 class="m-0" style=" overflow: hidden;
                                text-overflow: ellipsis;
                                    -webkit-line-clamp: 1;
                                    display: -webkit-box;
                                  -webkit-box-orient: vertical;
                                  word-wrap: break-word; "><b>{{item.title}} </b> </h6>
                                <p class="mb-0" style=" overflow: hidden;
                                text-overflow: ellipsis;
                                    -webkit-line-clamp: 1;
                                    display: -webkit-box;
                                  -webkit-box-orient: vertical;
                                  word-wrap: break-word;">{{item.description}} </p>
                                <!-- <p *ngIf="item.message.length == 0">Empty Notes !</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div *ngIf="!publicChat || publicChat.length == 0">
    <section>
        <div class="p-lg-3 p-0">
            <div class="p-3 no-public-chats" >
                <p class="m-0 p-0">
                    No public chats yet !
                </p>
            </div>
    
        </div>
    </section>
</div>