.item{
    padding:5px 15px;
    background-color:rgb(255, 255, 255);
    border-radius: 3px;
    margin-bottom: 2px;
    cursor: pointer;
    margin-bottom: 1px;
}
.item:hover{
    background-color: var(--activelink);
}
.itm-flx{
    display: flex;
    align-items: center;
}
.circle{
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    /* background-color: var(--themeheader); */
    background-color: var(--themeheader );
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--activelink);
}
svg{
    fill: white;
}
.no-public-chats{
    background-color: white;
    color: black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}