.logo{
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}
.header-color{
    background-color: var(--themeheader);
    -webkit-box-shadow:  0px 2px 6px 0px rgba(0,0,0,0.4);
    -moz-box-shadow:  0px 2px 6px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.4);
    z-index: 500;
    position: sticky;
    top:0;
    opacity: .98;
}
.logo button{
    border-radius: 3px;
    border:none;
    background-color:var(--themelogo) ;
    margin-right: 3px;
    font-weight: bold;
    outline: none;
    color: white;
}
.logo p{
    margin: 0;
    padding:0;
    color: rgb(245, 244, 244);
    font-weight: bold;
    cursor: pointer;
}
a{
    text-decoration: none;
    outline: none;
    color: white;
}


.tgl-icn{
    display:none!important;
    color:white;
    
    /* padding-top:12px; */
}
#tgl-btn{
    outline: none;
    border: none;
    border-radius: 3px;
    height:30px;
  width:33px;
  padding:6px;
  padding-right: 0;
    position: relative;
    display: flex;
    align-items: center;
    background-color: transparent;
}
#tgl-btn:active{
    transform: scale(.9);
}
.line{
    background-color: white;
    height:2px;
    width:100%;
    position: relative;
}
.line:before{
    position: absolute;
    content:'';
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: white;
    transform:translateY(-7px);
    -webkit-transform:translateY(-7px);
    -moz-transform:translateY(-7px);
    -ms-transform:translateY(-7px);
    -o-transform:translateY(-7px);
}
.line:after{
    position: absolute;
    content:'';
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: white;
    transform:translateY(7px);
    -webkit-transform:translateY(7px);
    -moz-transform:translateY(7px);
    -ms-transform:translateY(7px);
    -o-transform:translateY(7px);
}



@media only screen and (max-width: 991px) {
    .chat-link{
        display: none !important;
    }
    .tgl-icn{
        display:block!important;
    }
}
/* ////////////////////////////////////////
///////     side nav mobile         //////////
/////////////////////////////////////////*/

.side-nav-mobile{
    position:fixed; 
    width:300px; 
    bottom: 0;
    top:0; 
    left : -320px;
    z-index: 999;
    background-color: rgb(241, 241, 243);
    box-shadow: 2px 0px 10px 0px rgba(0,0,0,0.75);
}
.sdnav{
    height: calc(100vh - 55px);
    height: calc(calc(var(--vh, 1vh) * 100) - 55px);
    overflow-x: hidden;
    overflow-y: auto;
}
.side-nav-mobile h5{
    padding: 14px 32px;
}

.side-nav-mobile a{
    padding: 12px 15px;
    border-bottom: 1px solid rgb(223, 223, 223);
    text-decoration: none;
    border-radius: 3px;
    background-color: white;
    text-transform: uppercase;
    display: block;
    font-size: 14px;
    color:black;
   transition: .1s ease-out;
    outline: none;
}
.side-nav-mobile a:hover{
    background-color: var(--activelink);
}
/* .nav-mobile-hide{
    left:-310px;
} */
.navbar-toggler-icon{
    color:white;
}
.side-nav-active{
    color: #7443e2 !important;
}
.nav-active-link{
    background-color: var(--activelink) !important;
}
