<div  class="list">
    <div class="head">

    </div>
    <div class="searchbox">
        <input type="text"  name="search" [(ngModel)]="searchText" placeholder="search your notes here">
    </div>
    <div *ngIf="list" >
        <div class="item" *ngFor="let item of list | filter:searchText">
            <div (click)="navigate(item.id)">
                <h3>{{item.topic | slice: 0:30}}</h3>
                <p>{{item.subject | slice: 0:40}}</p>
            </div>
        </div>
    </div>
   
</div>