<section>
    <div class="admin-login">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="login">
                        <div class="d-flex justify-content-between">
                            <h1>FORGOT PASSWORD</h1>
                        
                        <div class="text-center"  *ngIf="spinner==true">
                            <div class="spinner-border" style="width:18px; height:18px;"  role="status">
                              <span class="sr-only">Loading...</span>
                            </div>
                          </div>
                        </div>
                        <div class="error" *ngIf="error">
                            <p >{{error}}</p>
                        </div>
                        <div class="success" *ngIf="success">
                            <p >{{success}}</p>
                        </div>
                        <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
                            <input formControlName="email" autocomplete="off" placeholder="email">
                            <small *ngIf="!forgotPasswordForm.get('email').valid && forgotPasswordForm.get('email').touched">
                                must contain valid email address !
                            </small>
                            <button type="submit">FORCE LOGIN</button>
                            <br/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>