.user-avatar{
   padding: 15px;
   padding-top: calc(100vh / 100 * 20);
   padding-top: calc(calc(var(--vh, 1vh) * 100) / 100 * 20);
   padding-bottom: calc(100vh / 100 * 20);
   padding-bottom: calc(calc(var(--vh, 1vh) * 100) / 100 * 20);
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
     background: var(--themebg);    
 }
 .avatar-box{
    max-width: 500px;
    padding:15px;
    background-color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: auto;
 }
 
 h1{
     font-weight: bold;
     margin-bottom: 30px;
     /* color: rgb(17, 17, 17); */
 }

 .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
 
 
 
 .btns button{
    margin-top: 30px;
    width: 100%;
    font-weight: 600;
    /* border: 2px solid rgb(41, 41, 41); */
    border: none;
    outline: none;
    padding:5px 0px;
    background-color: var(--themeheader);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    color: white;
    text-transform: uppercase;
 }
 .btns button:hover{
    opacity: .9;
 }
 
 .btns button:active{
    transform: scale(.95);
   
 }
 
 
 
 
 .radio-buttons input[type="radio"]{
    position: fixed;
    width: 0;
    height: 0;
    top: -10px;
 }
 
 .radio-buttons label{
    display: block;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(221, 221, 221);
    cursor: pointer;
    font-size: 13px;
    height: 60px;
    width: 60px;
    font-weight: bolder;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
 .radio-buttons label:hover {
    opacity: .9;
 }
 .radio-buttons input[type="radio"]:checked + label {
      border: 5px solid  rgb(106, 231, 106); ;
 }
 
 /* radio buttons label */
 /* @media only screen and (min-width:992px){
    .dnone{
        display: none;
    }
 } */
 @media only screen and (max-width:767px){
   .user-avatar{
       min-height: 0;
       height: 100vh;
       height: calc(var(--vh, 1vh) * 100);
       overflow-y: scroll;   
   }
}