<div class="container">
    <div class="row gutters">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="changeAvatarForm" (ngSubmit)="changeAvatar()">
                        
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-2 text-primary">User Avatar</h6>
                            </div>
                            <div class="col-2" *ngFor="let item of avatar">
                                <div class="radio-buttons">
                                    <input type="radio" name="user_icon" id="{{item}}" value="{{item}}"
                                        formControlName="user_icon">
                                    <label for="{{item}}"><img src="/assets/avatar/{{item}}.jpg" width="100%"
                                            alt=""></label>
                                </div>

                            </div>
                            <div class="col-12">
                                <div class="">
                                    <button class="submit-button" type="submit">Change Avatar</button>
                                </div>
                            </div>
                           
                        </div>
                    </form>                  
                </div>
            </div>
        </div>
    </div>
</div>