/* radio buttons label */
/* .radio-buttons {
    background-color: white;
    padding: 12px;
    padding-bottom: 0;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 4px 17px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 4px 17px rgba(0, 0, 0, 0.1);
} */
.radio-buttons input[type="radio"]{
    position: fixed;
    width: 0;
    height: 0;
    top: -10px;
}

.radio-buttons label{
    display: block;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(221, 221, 221);
    /*padding: 8px 5px;
    */border-radius: 50%;
    cursor: pointer;
    font-weight: bolder;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
}
.radio-buttons label:hover {
    opacity: .8;
}
.radio-buttons input[type="radio"]:checked + label {
      background-color: #bfb;
      border: 2px dashed #4c4;
}

/* radio buttons label */





.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}
.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
}
.account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
}
.account-settings .about h5 {
    margin: 0 0 15px 0;
    color: #007ae1;
}
.account-settings .about p {
    font-size: 0.825rem;
}
.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
}

.card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}
