<section>
    <div class="admin-login">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="login">
                        <div class="d-flex justify-content-between">
                            <h1>LOGIN</h1>
                        
                        <div class="text-center"  *ngIf="spinner==true">
                            <div class="spinner-border" style="width:18px; height:18px;"  role="status">
                              <span class="sr-only">Loading...</span>
                            </div>
                          </div>
                        </div>
                        <div class="error" *ngIf="error">
                            <p >{{error}}</p>
                        </div>
                        <form [formGroup]="loginForm" (ngSubmit)="login()">
                            <input formControlName="usermail" autocomplete="off" placeholder="username or email">
                            <small *ngIf="!loginForm.get('usermail').valid && loginForm.get('usermail').touched">
                                username only use letters, numbers, underscores, periods and contain minimum 4 character or valid email address !
                            </small>
                            <input type="password" autocomplete="off" formControlName="password" placeholder="password">
                            <small *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">
                                at least one uppercase, one lowercase, one number, one special character @$!%*?& and contain minimum 8 character !
                          
                            </small>
                            <button type="submit">LOGIN</button>
                            <br/><br>
                            <p>Don't have an account? <a routerLink="/register">Register</a>. <br> 
                                Forgot password? <a routerLink="/forgot-password">Force login</a>.</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>