.admin-login{
    padding-top: calc(100vh / 100 * 22);
    padding-top: calc(calc(var(--vh, 1vh) * 100) / 100 * 22);
    padding-bottom: calc(100vh / 100 * 22);
    padding-bottom: calc(calc(var(--vh, 1vh) * 100) / 100 * 22);
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow-y: scroll ;
    background: var(--themebg);
}


.login{
    padding: 30px 20px;
    max-width:300px;
    margin: 0 auto;
    background-color: var(--themenonotesbg);
    /*background-image: linear-gradient(to right top, #8b49f1, #8147ea, #7744e4, #6c42dd, #623fd6, #583acb, #4e35c1, #4430b6, #3828a6, #2d2095, #201986, #131176);
    */box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
}
.login h1{
    /* text-align: center; */
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
}
.login h2{
    text-align: center;
    /* font-weight: bold; */
    /* text-transform: uppercase; */
    font-size: 16px;
}
.login p{
    text-align: center;
}
form{
    margin-top: 10px;
}
.login input{
    width:100%;
    margin-top: 20px;
    outline: none;
    padding:5px 0px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(143, 143, 143);
    /* color: rgb(214, 214, 214); */
    font-size: 13px;
}
.login button{
    width: 100%;
    margin-top: 20px;
    outline: none;
    padding: 5px 10px;
    background-color: var(--themeheader);
    color:white;
    border: none;
    font-weight: 600;
    letter-spacing: 1px;
    /* border: 1px solid rgb(98, 44, 245); */
     /* box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35); */
     border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.login button:hover{
    opacity: .9;
}
.login button:active{
    transform: scale(.97);
}
.login input:focus{
    /* box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35); */
    border-bottom: 1px solid var(--themeheader);
}
.login p{
    font-size: 12px;
    margin-bottom: 0;
}
.login p a{
    font-size: 12px;
    margin-bottom: 0;
    color: var(--themeheader);
}
small{
    margin-bottom: 0;
    color: white;
    color: rgb(236, 99, 99);
    font-size: 12px;
    /* padding: 0px 10px; */
}

.error{
    background-color: #c2c2c2;
    padding: 5px;
    color: rgb(236, 99, 99);
}
@media only screen and (max-width: 600px){
    .login{
        max-width:400px;
    }
}