h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
p{
    color: gray;
}
/* .circle{
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    background-color: red !important;
    margin-right: 10px;
    background-color: var(--themedeletebutton );
    
} */
.list{
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
              
    border-right: 1px solid rgb(228, 225, 225);
    background-color: var(--themenoteslistbg );
}

.deleteallnotes button{
    border: none;
    outline:none;
    padding: 2px 10px;
    border-radius: 4px;
    background-color: var(--themedeletebutton);
    color: black;
    
}
.deleteallnotes button:hover{
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07);
}
.deleteallnotes button:active{
    transform: scale(.95);
}




/* search box */
.searchbox{
    height: 55px;
    padding: 10px 15px;
    background-color: #fbfbfb;
    z-index: 2 !important;
    position: relative;
   
}
.searchbox input{
    width: 100%;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid rgb(187, 187, 187);
    outline: none;
}
.searchbox input:focus{
    border: 1px solid var(--themeaddbutton);
}
/* search box  */




.item{
    /* border-bottom: 1px solid yellow; */
    padding:5px 15px;
    background-color:white;
    border-radius: 3px;
    margin-bottom: 2px;
    cursor: pointer;
}
.item h3{
    font-size: 16px;
    font-weight: bold;
}
.item:hover{
    background-color: var(--activelink);
}


.itm-flx{
    display: flex;
    align-items: center;
}
.circle{
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    /* background-color: var(--themeheader); */
    background-color: var(--themeheader );
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--activelink);
}
svg {
    fill : white;
}
.no-list{
    padding: 15px;
    height: calc(100vh - 165px);
    height: calc(calc(var(--vh, 1vh) * 100) - 165px);
    background-color: var(--themenonotesbg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.no-list h3{
    background-color: var(--themeheader);
    padding: 5px 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}

@media only screen and (max-width:767px){
    .dnone{
        display: none;
    }
    .list{
        min-height:0;
        height: 100vh; 
        height: calc(var(--vh, 1vh) * 100);
              overflow-y: scroll;
    }
}
.active-link{
    background-color: var(--activelink);
}