.right-area{
    height: 100vh; 
    height: calc(var(--vh, 1vh) * 100);
          overflow-y: scroll;
}
.left-area{
    height: 100vh; 
    height: calc(var(--vh, 1vh) * 100);
          overflow-y: scroll;
}

@media only screen and (max-width:767px){
    .right-area{
        height: auto;
        overflow-y: unset;
    }
    .left-area{
        height: auto;
        overflow-y: unset;
    }
}