<section>
    <div class="admin-login">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="login">
                        <div class="d-flex justify-content-between">
                            <h1>REGISTER</h1>
                            <div class="text-center" *ngIf="spinner==true">
                                <div class="spinner-border" style="width:18px; height:18px;"  role="status">
                                  <span class="sr-only">Loading...</span>
                                </div>
                              </div>
                        </div>
                        <!-- <h2>(Administrator)</h2> -->
                        
                        <div class="error" *ngIf="error">
                            <p >{{error}}</p>
                        </div>
                        <div class="success" *ngIf="success">
                            <p >{{success}}</p>
                        </div>
                        <form [formGroup]="registerForm" (ngSubmit)="register()">
                            <input formControlName="username" autocomplete="off" placeholder="username">
                            <small *ngIf="!registerForm.get('username').valid && registerForm.get('username').touched">
                                only use letters, numbers, underscores, periods and contain between 4 to 36 character !
                            </small>
                            <input formControlName="email" autocomplete="off" placeholder="email">
                            <small *ngIf="!registerForm.get('email').valid && registerForm.get('email').touched">
                                must contain valid email address !
                            </small>
                            <input type="password" autocomplete="off" formControlName="password" placeholder="password">
                            <small *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched">
                                at least one uppercase, one lowercase, one number, one special character @$!%*?& and contain minimum 8 character !
                            </small>
                            <button type="submit">REGISTER</button>
                            <br/><br>
                            <p>Already have an account? <a routerLink="/login">Login</a>.</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>