.notes-detail{
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    background: var(--themebg);
    /* animation: fadeIn; */
    /* -webkit-animation: fadeIn; */
    /* animation-duration: .5s; */
    /* opacity: 0; */
    /* animation-fill-mode: forwards; */
}
/* @keyframes fadeIn{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
} */

p{
    margin: 0;
    padding: 0;
}
.heading{
    height: 55px;
    background-color:  var(--themeheader);
    padding: 0px 15px;
    display: flex;
    align-items: center;
    position: sticky;
    top:0;
    /* margin-bottom: 15px; */
    z-index:20;
    /* color: rgb(39, 39, 39); */
    color: rgb(240, 240, 240);
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.3);
}
.header2{
    height: 15px;
    background-color:  var(--themebg);
    z-index:5;
    position: sticky;
    top:55px;
}
.notes , .chat{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
}
.data{
    margin: 5px 15px !important;
    background-color:var(--themenotespointsbg) ;
    padding: 5px 15px !important;
    padding-right: 0 !important;
    border-radius: 5px;
    max-width: -moz-available;
    max-width:-webkit-fill-available;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}
.data button{
    background-color: transparent;
    padding: 0;
    border: none;
    margin: 0;
    outline: none;
    border-radius: 3px;
    height: 30px;
    width: 30px;
    transform:scale(.7);
}
.data button:hover{
    background-color: rgb(187, 186, 186);
}
.data button:active{
    transform:scale(.65);
}

.circle{
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    background-color: var(--themedeletebutton );
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #212529;
}
.heading button{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
    background-color: var(--themedeletebutton );
    outline: none;
    /* margin-left: auto;
    margin-right: 0; */
    border-radius: 5px;
    transform: scale(.6) translateX(30%);
    /* transition: .3s ease; */
}
.heading button:hover{
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
}

.heading button:active{
    transform: scale(.55) translateX(30%);
}


.topic{
    margin: 15px 15px;
    margin-bottom: 5px;
    margin-top: 0px ;
    padding:13px  15px;
    border-radius: 5px;
    background-color: var(--themenotestopicbg);
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
                max-width: -moz-available;
                max-width:-webkit-fill-available;
                /* display: flex; */
                /* align-items: center; */
                /* justify-content: space-between; */
}
.topic p{
    margin: 0;
}

/* more notes */
.more-notes{
    position: sticky;
    top:calc(100vh - 60px);
    top: calc(calc(var(--vh, 1vh) * 100) - 60px); 
    bottom:0;
    height: 60px;
    background: var(--themebg);
    padding: 10px 15px;
    /* padding-bottom: 10px; */
}
.more-notes .flx{
    display: flex;
}
.more-notes input{
    flex:6;
    height:40px;
    margin: 0;
    border-radius:20px;
    border: 1px solid var(--themeheader);
    padding: 5px 20px;
    outline:none;
}
.more-notes input:focus{
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
}
.more-notes button{
    background-color: var(--themeheader);
    flex:1;
    height: 40px;
    border-radius:20px;
    margin-left: 5px;
    font-weight: 600;
    outline: none;
    border: none;
    color: rgb(240, 240, 240);
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
}

.more-notes button:active{
    transform: scale(.95);
}
.side-hide{
    padding-top: 165px !important;
    background-color: var(--themenoteslistbg );
    width: 25%;
    /* border-right: 1px solid gray; */
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    overflow-y: scroll;
}

.profile-circle{
    height: 100px;
    width: 100px;
    overflow:hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
@media only screen and (max-width:1199px){
   
    .side-hide{
        width: 33.3%;
    }
}

@media only screen and (max-width:767px){
   
    .side-hide{
        display: none !important;
    }
    .notes-detail{
        min-height:0;
        height: 100vh; 
        height: calc(var(--vh, 1vh) * 100);
              overflow-y: scroll;
    }
    
}

.three-dots:after {
    cursor: pointer;
    /* color: rgb(22, 22, 22); */
    color: rgb(240, 240, 240);
    content: '\2807';
    font-size: 25px;
    padding: 0 0;
  }
  
  .dropdown a {
    text-decoration: none;
    color: black;
  }
  .dropdown a :hover{
    text-decoration: none;
    color: var(--themeheader);
    background-color: var(--activelink);
  }
  hr{
    margin: 0;  
  }
  a div {
    padding:8px 50px 8px 15px;
    /* padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 30px; */
    cursor: pointer !important;
  }
 
  
  .dropdown {
    position: absolute;
    right: 10px;
    background-color: rgb(250, 250, 250);
    box-shadow: 0px 0px 1px 1px rgb(155, 155, 155);
    outline: none;
    opacity: 0;
    z-index: -1;
    max-height: 0;
    padding: 0;
    display: none;
}
  
  .dropdown-container:focus {
    outline: none;
  }
  
  .dropdown-container:focus .dropdown {
    opacity: 1;
    z-index: 10000;
    max-height: 100vh;
    display: block;
  }
  svg{
      fill: black;
  }