<div *ngIf="owner == 'false'"  class=" p-3 side-hide d-flex align-items-center justify-content-center">
    <div style=" width:100%;" >
        <div style="margin: auto;" class="profile-circle" *ngIf="avatar">
            <img src="assets/avatar/{{avatar}}.jpg" width="100%" alt="">
        </div>
        <br>
        <div  style="overflow-x:hidden; " >
            <h4 class="text-center" style=" overflow: hidden;
              word-wrap: break-word; "><b>@{{username}}</b></h4>
        </div>
    </div>
</div>
<div class="notes-detail" >
    <div class="heading">
        <div *ngIf="chat" style="flex-basis: 6%;">
            <div class="circle">
                <svg width="60%" height="60%" viewBox="0 0 16 16" class="bi bi-journal-text" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
                    <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                    <path fill-rule="evenodd" d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                  </svg>
            </div>
        </div>
        <div style="flex-basis: 91%; overflow-x:hidden; ">
            <p *ngIf="chat" style=" overflow: hidden;
            text-overflow: ellipsis;
                -webkit-line-clamp: 1;
                display: -webkit-box;
              -webkit-box-orient: vertical;
              word-wrap: break-word; "><b>
                  {{chat.title}}
                </b></p>
            <p *ngIf="chat" style=" overflow: hidden; font-size: 12px;
            text-overflow: ellipsis;
                -webkit-line-clamp: 1;
                display: -webkit-box;
              -webkit-box-orient: vertical;
              word-wrap: break-word; ">
             Created on {{chat.stamp.day}} {{chat.stamp.month}} {{chat.stamp.year}}.
            </p>
        </div>
        <div style="flex-basis: 3%; ">
            <!-- <button *ngIf="owner == 'true'" (click)="deleteChat()"><svg width="100%" height="100%" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg></button> -->
              <div *ngIf="owner == 'true'" class="dropdown-container" tabindex="-1">
                <div class="three-dots"></div>
                <div class="dropdown">
                    <a  (click)="editChat()" >
                        <div >Edit
                        </div>
                        <hr>
                    </a>
                    <a  (click)="deleteChat()" >
                        <div >Delete
                        </div>
                        <hr>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="header2">

    </div>
    <div *ngIf="chat" class="chat">
        <div class="topic">
            <p style="overflow: hidden; word-wrap: break-word;">{{chat.description}}</p>
        </div>
    </div>
    <div *ngIf="notes" class="notes">
        <div class="data" *ngFor="let item of notes; let i = index">

            <p class="m-0" style="overflow: hidden; word-wrap: break-word;">{{item.message}}</p>
            <div >

                <button *ngIf="owner == 'true'" (click)="deleteNote(item._id)"> <svg width="100%" height="100%" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                  </svg></button>
            </div>
        </div>
    </div>
    
   <div class="more-notes" >
    <form [formGroup]="noteForm" *ngIf="owner == 'true'" (ngSubmit)="createNote()" >
        <div class="flx">
            <input type="text" autocomplete="off" formControlName="message" placeholder="send information to this chat">
            <button type="submit">SEND</button>
        </div>
    </form>
</div>
</div>
