<!-- <div class="container">
    <div class="row gutters">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            
            <div class="card">
                <div class="card-body" *ngIf="userData">
                    <form [formGroup]="changeProfileForm" (ngSubmit)="changeProfile()">
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h6 class="mb-2 text-primary">Personal Details</h6>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="fullName">Display Name</label>
                                <input type="text"   class="form-control" formControlName="name" id="fullName" placeholder="Enter full name">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <input type="text" class="form-control" formControlName="phone" id="phone" placeholder="Enter email ID">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="address">Address</label>
                                <input type="text" class="form-control" formControlName="address" id="address" placeholder="Enter phone number">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="college">College Name</label>
                                <input type="text" class="form-control" formControlName="college" id="college" placeholder="Enter phone number">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="education">Education</label>
                                <input type="text" class="form-control" formControlName="education" id="education" placeholder="Enter phone number">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="about">About</label>
                                <input type="text" class="form-control" formControlName="about" id="about" placeholder="Enter phone number">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="">
                                <button class="submit-button" type="submit">Change Profile Info</button>
                            </div>
                        </div>
                    </div>
                </form>
                  
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="update-info">
   
    <div class="info-box btns ">

        <h6><b>USER PASSWORD</b></h6>
        <br>
        <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
            <div >
                <div class="">
                    <div class="form-group">
                        <!-- <label for="newpassword">Password</label> -->
                        <input type="password" autocomplete="off"   formControlName="newpassword" id="newpassword" placeholder="new password">
                    </div>
                </div>
                <div class="">
                    <div class="form-group">
                        <!-- <label for="confirmpassword">Confirm Password</label> -->
                        <input type="password"  autocomplete="off"  formControlName="confirmpassword" id="confirmpassword" placeholder="confirm password">
                    </div>
                </div>
               
                <div class="">
                    <div class="">
                        <button class="submit-button" type="submit">CHANGE PASSWORD</button>
                    </div>
                </div>
            </div>
        </form>    
    </div>
</div>