.head{
    padding :0px 15px ;
    height: 55px;
    background-color: var(--themeheader);
    display: flex;
    align-items: center;
    position: sticky;
    top:0;
    justify-content: space-between;
    z-index: 4;
    color: rgb(240, 240, 240);
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.5);
}
.addnotemain button{
    padding: 0;
    border: none;
    outline: none;
    /* background: white; */
    border-radius: 5px;
    overflow-y: hidden;
    background-color: var(--themeaddbutton);
}
.addnotemain button:hover{
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
}
.addnotemain button:active{
    transform: scale(.95);

}
.circle{
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    /* background-color: var(--themeheader); */
    background-color: var(--themedeletebutton );
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #212529;
}
svg{
    fill: rgb(68, 68, 68);
}