<div class="head" >
    <div class="d-flex" style="flex-basis: 80%; overflow-x:hidden;">
        <div style=" overflow-x:hidden; " routerLink="/{{user.username}}" class="circle" *ngIf="user">
            <img src="assets/avatar/{{user.avatar}}.jpg" width="100%" alt="">
        </div>
        <div style="flex-basis: 81%; overflow-x:hidden; ">
            <h6 style=" overflow: hidden;
            text-overflow: ellipsis;
                -webkit-line-clamp: 1;
                display: -webkit-box;
              -webkit-box-orient: vertical;
              word-wrap: break-word; cursor:pointer; " class="m-0"  routerLink="/{{user.username}}" *ngIf="user">@{{user.username}}</h6>
            <h6 style=" overflow: hidden;
            text-overflow: ellipsis;
                -webkit-line-clamp: 1;
                display: -webkit-box;
              -webkit-box-orient: vertical;
              word-wrap: break-word; cursor: pointer; " class="m-0" routerLink="/{{user.username}}" *ngIf="user">{{user.email}}</h6>

        </div>
        <!-- <h6 *ngIf="user"></h6> -->
    </div>
    <!-- <div class="deleteallnotes" *ngIf="list && list.length > 0">
        <button (click)="deleteAllNotes()">Delete</button>
    </div> -->
    <div class="addnotemain" >
        <button (click)="add()">
            <svg width="30px" height="30px" viewBox="0 0 16 16" class="bi bi-plus-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
              </svg>
        </button>
    </div>
</div>