
<section class="exp-main">
    <div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-12 pb-3">
                    <div>
                        <p>Community</p>
                        <h1>
                            <b>We believe in the power of community</b>
                        </h1>
                        <p>
                            Our goal is to create a product and service that you’re satisfied with and use
                             it every day. This is why we’re constantly working on our services to make it better
                             every day and really listen to what our users has to say.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-12 pb-3">
                    <div>
                        <div class="demo-img">
                            <img src="assets/screenshots/ss-social-chat-notes-demo.png" width="100%" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="pt-5"></div>
        </div>
    </div>
</section>