
.exp-main{
    z-index: 4 !important;
    margin-top: -5px;
    background-color: white;
    position: relative;
}
h1{
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: 600;
}
p{
    font-size: 18px;
    text-align: justify;
}
.demo-img{
    overflow: hidden;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
@media screen and (max-width: 991px) {
    h1{
        font-size: 35px;
    }
}
@media screen and (max-width: 450px) {
    h1{
        font-size: 30px;
    }
  }