/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
/* Default App Theme Colors */
:root{
    --themeheader : #ec4848;
    --themebg: #ffeaed;
    --themelogo : rgb(199, 24, 24) ;
    --themenonotesbg : #f7eeef;
    --themenoteslistbg : #f7eeef;
    --themenotestopicbg : rgb(225, 225, 226);
    --themenotespointsbg : white;
    --themedeletebutton :rgb(248, 83, 83);
    --themeaddbutton:rgb(223, 8, 62);
    --themefooter : #6710e5;
    --themehome : linear-gradient(to bottom, #ec4848, #f00063, #e4008a, #bd00ba, #5c12eb);
}
/* Default App Theme Colors */



/* Custom App Theme Colors */
/* :root{
    --themeheader : #a896fc;
    --themebg: #bed1f3;
    --themelogo : rgb(181, 199, 233) ;
    --themenonotesbg : rgb(250, 250, 250);
    --themenoteslistbg : #fcf9f9;
    --themenotestopicbg : rgb(250, 250, 252);
    --themenotespointsbg : rgb(255, 255, 255);
    --themedeletebutton :rgb(139, 126, 250);
    --themeaddbutton:rgb(109, 109, 248);
} */
/* Custom App Theme Colors */
