/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
/* Default App Theme Colors */
[theme="blue-white"]{
    --themeheader : #734ae4;
    --themebg:linear-gradient(to right, #eaafc8, #654ea3); 
    --themelogo : rgb(53, 53, 53) ;
    --themenonotesbg : #f7eeef;
    --themenoteslistbg : #f7eeef;
    --themenotestopicbg : rgb(225, 225, 226);
    --themenotespointsbg : white;
    --themedeletebutton :rgb(184, 184, 184);
    --themeaddbutton:rgb(184, 184, 184);
    --themefooter : #734ae4;
    --activelink : rgb(234, 243, 253);
    --themehome : linear-gradient(to right,#654ea3, #eaafc8 );  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
/* Default App Theme Colors */
@media only screen and (max-width : 767px){
    [theme="blue-white"]{
        --themebg:linear-gradient(to right, #734ae4, #8b67e6);
        --themehome : linear-gradient(to right,#734ae4, #8b67e6 );  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
}

/* Custom App Theme Colors */
[theme="black-gray"]{
    --themeheader : #222222;
    --themebg:linear-gradient(to right, #eaafc8, #654ea3); 
    --themelogo : rgb(53, 53, 53) ;
    --themenonotesbg : #3d3d3d;
    --themenoteslistbg : #363636;
    --themenotestopicbg : rgb(225, 225, 226);
    --themenotespointsbg : white;
    --themedeletebutton :rgb(184, 184, 184);
    --themeaddbutton:rgb(184, 184, 184);
    --themefooter : #734ae4;
    --activelink : rgb(234, 243, 253);
    --themehome : linear-gradient(to right,#654ea3, #eaafc8 );  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* Custom App Theme Colors */



.scrollable{
    height: 100vh; 
 height: calc(var(--vh, 1vh) * 100);
       overflow-y: scroll;
 }