/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
/* Default App Theme Colors */
:root{
    --themeheader : #ec4848;
    --themebg: #ffeaed;
    --themelogo : rgb(199, 24, 24) ;
}
/* Default App Theme Colors */



/* Custom App Theme Colors */
/* :root{
    --themeheader : #684edf;
    --themebg: #bed1f3;
    --themelogo : rgb(28, 62, 124) ;
} */
/* Custom App Theme Colors */
