<div class="addnotes">
    <!-- <div style="position: sticky; top:0" class="dnone header-back"></div> -->
        <app-main-header class="dnone "></app-main-header>
    
    <div style="padding:40px 15px;">

        <h1 >Fill your notes</h1>
    <form [formGroup]="notesForm" (ngSubmit)="pushNotes()">
        <div class="form">
            <label for="topic">Topic</label><br />
            <input type="text" id="topic" formControlName="topic" placeholder="type topic here ...">
            <small class="text-danger"
                    *ngIf="!notesForm.get('topic').valid && notesForm.get('topic').touched">
                        Topic can't be empty
                    </small>
        </div>
        <div class="form">
            <label for="notes">Notes</label><br />
            <textarea id="notes" cols="30" rows="6" formControlName="subject" placeholder="type notes here ..."></textarea>
            <small class="text-danger"
                    *ngIf="!notesForm.get('subject').valid && notesForm.get('subject').touched">
                    Notes can't be empty
                </small>
        </div>
        <div class="form">
            
            <button type="submit" >Submit</button>
        </div>
    </form>
    </div>
</div>