
   <app-main-header></app-main-header>

<div class="home-main">

    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="pb-3">
                    <h1 class="text-white mb-4"><b>Chat Notes</b></h1>
                    <p class="mb-4">Here you can post your private notes in chats form,
                        <br/>
                        Your notes are secure in Local Storage
                        <br/>
                        Add or Remove info to your existing notes any time.
                    </p>
                    <a   routerLink="/shownotes"><button>
                        Learn More
                    </button></a>

                    
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="pb-3">
                    <img src="assets/sticky-notes.png" class="image" alt="">
                </div>
            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>