<div class="logo">
    <div class="d-flex">
        <button (click)="home()">C</button>
        <p style="outline:none" routerLink="/">HAT NOTES</p>
    </div>
    
    
    <div *ngIf="username" class="dropdown-container" tabindex="-1">
        <div class="three-dots"></div>
        <div class="dropdown">
            <a  (click)="chat()" >
                <div >Chat
                </div>
                <hr>
            </a>
            <a  (click)="account()" >
                <div >Profile
                </div>
                <hr>
            </a>
            <a (click)= "settings()">
                <div>Settings
                </div>
                <hr>
            </a>
            <a (click)= "logout()">
                <div>Logout</div>
            </a>
        </div>
    </div>
</div>