<div class="header-color" >
    <div class="container">
    <div class="row">
        <div class="col">
            <div class="logo">
                <div style="display: flex;">
                    <button (click)="notes()">C</button>
                    <p style="outline:none" routerLink="/"> HAT NOTES</p>

                </div>
                <div>
                    <a routerLink="/" class="mr-3">HOME</a>
                    <a routerLink="/about" class="mr-3">ABOUT</a>
                    <a routerLink="/policy" class="mr-3">POLICY</a>
                    <a routerLink="/contact" >CONTACT</a>
                </div>
                <div>
                    <a routerLink="/shownotes" >EXPLORE</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>