.logo{
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}
.header-color{
    background-color: var(--themeheader);
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
    z-index: 500;
    position: sticky;
    top:0;
}
.logo button{
    border-radius: 3px;
    border:none;
    background-color:var(--themelogo) ;
    margin-right: 3px;
    font-weight: bold;
    outline: none;
    color: white;
}
.logo p{
    margin: 0;
    padding:0;
    color: rgb(245, 244, 244);
    font-weight: bold;
    cursor: pointer;
}
a{
    text-decoration: none;
    outline: none;
    color: white;
    font-weight: 600;
}


.tgl-icn{
    display:none!important;
    color:white;
    
    /* padding-top:12px; */
}
#tgl-btn{
    outline: none;
    border: none;
    border-radius: 3px;
    height:40px;
    width:45px;
    padding:6px;
    position: relative;
    display: flex;
    align-items: center;
    background-color: transparent;
}
#tgl-btn:active{
    transform: scale(.9);
}
.line{
    background-color: white;
    height:4px;
    width:100%;
    position: relative;
}
.line:before{
    position: absolute;
    content:'';
    top:0;  
    left:0;
    right:0;
    bottom:0;
    background-color: white;
    transform:translateY(-10px)
}
.line:after{
    position: absolute;
    content:'';
    top:0;  
    left:0;
    right:0;
    bottom:0;
    background-color: white;
    transform:translateY(10px)
}



@media only screen and (max-width: 991px) {
    .chat-link{
        display: none !important;
    }
    .tgl-icn{
        display:block!important;
    }
}
/* ////////////////////////////////////////
///////     side nav mobile         //////////
/////////////////////////////////////////*/

.side-nav-mobile{
    position:fixed; 
    width:300px; 
    height:100vh; 
    top:0; 
    left:0; 
    /* bottom:0; */
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 999;
    background-color: rgb(241, 241, 243);
    box-shadow: 2px 0px 10px 0px rgba(0,0,0,0.75);
}
.side-nav-mobile h5{
    padding: 14px 32px;
}

.side-nav-mobile a{
    text-decoration: none;
    border-radius: 3px;
    background-color: var(--themeheader);
    text-transform: uppercase;
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    color:white;
    box-shadow:    0 0.2px 0.3px rgba(0, 0, 0, 0.093),    0 0.6px 0.8px rgba(0, 0, 0, 0.133),    0 1.2px 1.6px rgba(0, 0, 0, 0.167),    0 2.6px 3.3px rgba(0, 0, 0, 0.207),    0 7px 9px rgba(0, 0, 0, 0.3);
    transition: .1s ease-out;
    outline: none;
    font-weight: 700;
    letter-spacing: 0.5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.side-nav-mobile a:active{
    transform: scale(.95);
}
.side-nav-mobile a:hover{
    
    box-shadow:
  0 0.2px 0.4px rgba(0, 0, 0, 0.112),
  0 0.6px 1px rgba(0, 0, 0, 0.16),
  0 1.2px 2.1px rgba(0, 0, 0, 0.2),
  0 2.6px 4.4px rgba(0, 0, 0, 0.248),
  0 7px 12px rgba(0, 0, 0, 0.36)
;
}
.nav-mobile-hide{
    left:-310px;
}
.navbar-toggler-icon{
    color:white;
}
.side-nav-active{
    color: #7443e2 !important;
}
