<div class="scrollable">
    <app-main-header></app-main-header>
    <div class="contact">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="contact-data">
                        <h1>CONTACT ME !</h1>
                        <p>If you have any questions, suggestions or other requests feel free
                            to contact us! We are always happy to hear from you!</p>
                        <p>Email: itsmdasifraza@gmail.com
                            <br>
                            Phone: +91 6287789008
                        </p>
                        <p>Developer : <a target="_blank" href="https://www.mdasifraza.com">www.mdasifraza.com</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
