<div class="scrollable">
    <app-main-header></app-main-header>
    <div class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-12"></div>
                <div class="col-md-6 col-12">
                    <div class="contact-data">
                        <h1><b>Contact me</b> </h1>
                        <p>Md Asif Raza <br> Email: itsmdasifraza@gmail.com
                        </p>
                        <div class="pt-5"></div>
                        <p>If you have any questions, suggestions or other requests feel free
                            to contact me! I am always happy to hear from you!</p>
                  </div>
                </div>
                <div class="col-md-3 col-12"></div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
