.contact{
    background: var(--themehome);
    margin-top: -55px;
    min-height: calc(100vh - 55px);
    min-height: calc(calc(var(--vh, 1vh) * 100) - 55px);
}
.contact-data{
    color: white;
    margin-top:150px;
    margin-bottom:150px;
}
h1{
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: 600;
    text-align: left;
}
p{
    color:rgb(229, 226, 226);
}
p{
    font-size: 18px;
    text-align: justify;
}
a{
    outline: none;
    color: white;
}
@media screen and (max-width: 991px) {
    h1{
        font-size: 35px;
    }
}
@media screen and (max-width: 450px) {
    h1{
        font-size: 30px;
    }
  }
@media only screen and (max-width:767px){
    .contact-data{
       
        margin-top:150px;
        margin-bottom:50px;   
    }
}